process {
    withName: 'readsCount' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'collectReadCounts' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args   = { "-ax map-ont" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        maxForks = 3
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'samIndex' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'bamCoverage' {
        container  = "docker.io/edwardward762/transgenemapping:latest"
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
    }
}