process {
    withName: 'readsCount' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'mapReads' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
        maxForks = 3
    }

    withName: 'samIndex' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'bamCoverage' {
        container  = "docker.io/edwardward762/transgenemapping:latest"
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'collectReadCounts' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
    }
}