process {
    withName: 'readsCount' {
        container  = "docker.io/edwardward762/transgenemapping:latest"
        publishDir = [
            path: { "${params.outdir}/read_counts" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'collectReadCounts' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: "$params.publish_dir_mode"
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args   = { "-ax map-ont" }
        publishDir = [
            path: { "${params.outdir}/genome_mapping" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        maxForks = 3
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/genome_mapping" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DEEPTOOLS_BAMCOVERAGE' {
        ext.args   = { "-of bedgraph -bs $params.bedgraph_bin_size" }
        publishDir = [
            path: { "${params.outdir}/genome_mapping" },
            mode: "$params.publish_dir_mode",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'DUMP_SOFTWARE_VERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: "${params.publish_dir_mode}",
            pattern: '*_versions.yml'
        ]
    }
}